<div id="game-controls" class="d-flex flex-column gray-borders mr-2 p-2">
  {{#if (gt board.moves.length 0)}}
    {{bs-button
      defaultText="Reset"
      type="primary"
      onClick=(action "resetMoves")
      classNames="mb-2"}}
  {{/if}}
</div>
{{board-canvas
  board
  onClick=(action "clickedBoard")
  boardSizeCalculated=(action "boardSizeCalculated")}}