{{#game-controls}}
  {{bs-button
    defaultText="Reset"
    type="primary"
    disabled=(lt board.moves.length 1)
    onClick=(action "resetMoves")
    classNames="mb-2"}}
  <p>Current number of moves: {{board.moves.length}}</p>
{{/game-controls}}
{{board-canvas
  board
  onClick=(action "clickedBoard")
  boardSizeCalculated=(action "boardSizeCalculated")}}