<div style="display:none">
  <img id="gears" src="assets/gears.svg" alt="Gears">
  <img id="moon" src="assets/moon.svg" alt="Moon">
  <img id="planet" src="assets/planet.svg" alt="Planet">
  <img id="star" src="assets/star.svg" alt="Star">
</div>