<div class="d-flex flex-row">
  <ul class="d-flex flex-column">
    {{#each events as |event|}}
      <li class="d-flex flex-row p-2">{{event.message}}</li>
    {{/each}}
  </ul>
</div>
<div class="d-flex flex-row">
  {{#bs-form formLayout="horizontal" model=this as |form|}}
    {{form.element controlType="text" placeholder="Type a message" property="newMessage"}}
    {{bs-button defaultText="Send" type="primary" onClick=(action "sendMessage" newMessage)}}
  {{/bs-form}}
</div>