<div class="d-flex flex-row p-4">
  <div id="game-log-container" class="flex-grow-1">
    <ul>
      {{#each gameLog.events as |event|}}
        {{game-event
          event=event
          user=user}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="d-flex flex-row new-message-container align-self-end flex-shrink-0">
  {{input
    value=newMessage
    title="message"
    type="text"
    placeholder="Enter message"
    class="flex-grow-1 form-control m-2"
    enter=(action "sendMessage" newMessage)}}
  {{bs-button
    defaultText="Send"
    type="primary"
    onClick=(action "sendMessage" newMessage)
    classNames="m-2"}}
</div>