<div style="display:none">
  <img id="gears_blue" src="assets/gears_blue.svg" alt="Gears Blue">
  <img id="gears_red" src="assets/gears_red.svg" alt="Gears Red">
  <img id="gears_green" src="assets/gears_green.svg" alt="Gears Green">
  <img id="gears_yellow" src="assets/gears_yellow.svg" alt="Gears Yellow">
  <img id="moon_blue" src="assets/moon_blue.svg" alt="Moon Blue">
  <img id="moon_red" src="assets/moon_red.svg" alt="Moon Red">
  <img id="moon_green" src="assets/moon_green.svg" alt="Moon Green">
  <img id="moon_yellow" src="assets/moon_yellow.svg" alt="Moon Yellow">
  <img id="planet_blue" src="assets/planet_blue.svg" alt="Planet Blue">
  <img id="planet_red" src="assets/planet_red.svg" alt="Planet Red">
  <img id="planet_green" src="assets/planet_green.svg" alt="Planet Green">
  <img id="planet_yellow" src="assets/planet_yellow.svg" alt="Planet Yellow">
  <img id="star_blue" src="assets/star_blue.svg" alt="Star Blue">
  <img id="star_red" src="assets/star_red.svg" alt="Star Red">
  <img id="star_green" src="assets/star_green.svg" alt="Star Green">
  <img id="star_yellow" src="assets/star_yellow.svg" alt="Star Yellow">
</div>