@import "ember-bootstrap/bootstrap";
@import "font-awesome";

// Remove some default bootstrap styles.
.modal-header, .modal-footer {
  border: none;
}

html, body, ul, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.logout {
  position: absolute;
  top: 20px;
  right: 20px;
  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

@import "base";
@import "start";
@import "play";
@import "signup";
@import "rooms";
@import "timer";
