.play {
  margin-top: $marginTop;

  #game-log {
    height: 800px;
    width: 300px;
    ul {
      list-style-type: none;
    }

    #game-log-container {
      overflow-y: auto;
    }

    .new-message-container {
      border-top: 4px solid $blue;
      height: $input-height + 4px;
    }

    #game-log-header {
      border-bottom: 4px solid $blue;
      height: $input-height + 4px;
    }

    .game-event {
      @include border-radius($radius: 4px);
      color: white;
      // Differentiate between your own events and those
      // of others.
      &.own {
        margin-left: 50px;
        text-align: right;
        background-color: $gray-500;
      }
      &.other {
        margin-right: 50px;
        background-color: $green;
      }

      .author-name {
        color:black;
      }
    }
  }

  .header {
    min-height: 50px;
    text-align: center;
  }
}
