.play {
  margin-top: $marginTop;

  #game-controls {
    width: 300px;

    #game-controls-container {
      background-color: $white;
    }
  }

  #game-log {
    width: 300px;
    ul {
      list-style-type: none;
    }

    #game-log-container {
      overflow-y: auto;

      #game-log-container-inner {
        background-color: $white;
      }
    }

    .new-message-container {
      height: $input-height + 4px;
    }

    #game-log-header {
      height: $input-height + 4px;
    }

    .game-event {
      @include border-radius($radius: 4px);
      color: white;
      // Differentiate between your own events and those
      // of others.
      &.own {
        margin-left: 50px;
        text-align: right;
        background-color: $gray-500;
      }
      &.other {
        margin-right: 50px;
        background-color: $green;
      }

      .author-name {
        color:black;
      }
    }
  }

  .header {
    min-height: 50px;
    text-align: center;
  }
}
