.start {
  max-width:500px;
  margin-top:$marginTop;
  a {
    text-decoration:none;
    color:$white;
  }
  .button-wrapper {
    border:4px solid $blue;
    @include border-radius($radius: 4px)
  }
}
