<div class="login">
  <div class="d-flex justify-content-center mb-2">
    <h1>Login</h1>
  </div>
  <div class="d-flex justify-content-center p-4 blue-borders">
    <div class="d-flex flex-column align-items-center">
      <div class="p-2">
        {{#if errorMessage}}
          <p>{{errorMessage}}</p>
        {{/if}}
        {{#bs-form formLayout="horizontal" model=this onSubmit=(action "login" email password) as |form|}}
          {{form.element controlType="email" label="Email" placeholder="Email" property="email" required=true}}
          {{form.element controlType="password" label="Password" placeholder="Password" property="password" required=true}}
          {{bs-button defaultText="Login" type="primary" buttonType="submit" disabled=model.isSaving}}
        {{/bs-form}}
      </div>
    </div>
  </div>
</div>