<div class="container d-flex play">
  <div class="d-flex flex-row">
    <div class="d-flex align-middle mr-2 ml-2">
      {{board-controls model}}
    </div>
    <div class="d-flex align-middle mr-2 ml-2">
      {{board-display model}}
    </div>
  </div>
</div>