<div class="container rooms">
  <div class="d-flex flex-row justify-content-center">
    <h1>Rooms</h1>
  </div>
  <div class="d-flex mb-2">
    {{#link-to "rooms.add" classNames="btn btn-primary"}}Create room{{/link-to}}
  </div>
  <div class="d-flex flex-row justify-content-center p-4 gray-borders">
    <ul class="d-flex flex-column">
      {{#each model as |room|}}
        <li class="d-flex flex-row">
          {{room-display
            room=room
            user=session.user
            join=(action "joinRoom" room)}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

{{outlet}}

