<div class="container rooms">
  <div class="d-flex flex-row justify-content-center">
    <h1>Rooms</h1>
  </div>
  <div class="d-flex mb-2">
    {{#link-to "rooms.add" classNames="btn btn-primary"}}Create room{{/link-to}}
  </div>
  <div class="d-flex flex-row justify-content-center p-4 gray-borders">
    {{#if (lt model.length 1)}}
      <span>There are no rooms yet! You can create one :)</span>
    {{else}}
      <ul class="d-flex flex-column flex-grow-1">
        {{#each model as |room|}}
          <li class="room d-flex flex-row gray-borders mb-2">
            {{room-display
              room=room
              user=session.user
              deleteRoom=(action "deleteRoom" room)
              join=(action "joinRoom" room)}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>

{{outlet}}

