<div id="vertex-shader" style="display:none;">
  void main() {
    gl_Position = projectionMatrix *
      modelViewMatrix *
      vec4(position,1.0);
  }
</div>
<div id="fragment-shader" style="display:none">
  void main() {
    gl_FragColor = vec4(1.0,  // R
    0.3,  // G
    0.2,  // B
    1.0); // A
  }
</div>