<div class="start">
  <div class="d-flex justify-content-center mb-2">
    <h1>Robots</h1>
    {{#unless session.isAuthenticated}}
      {{#link-to "signup"}}sign up{{/link-to}}
    {{/unless}}
  </div>
  <div class="d-flex justify-content-center p-4 blue-borders">
    <div class="d-flex flex-column align-items-center">
      <div class="p-2">
        {{#link-to "play.alone" classNames="btn btn-primary"}}Single player{{/link-to}}
      </div>
      {{#if session.isAuthenticated}}
        <div class="p-2">
          {{#link-to "rooms" classNames="btn btn-primary"}}Multiplayer{{/link-to}}
        </div>
        <div class="p-2">
          {{#bs-button type="primary" onClick=(action "logout")}}Logout{{/bs-button}}
        </div>
      {{else}}
        <div class="p-2">
          {{#link-to "login" classNames="btn btn-primary"}}Login{{/link-to}}
        </div>
        <div class="p-2">
          {{#bs-button type="primary" onClick=(action "loginWithGoogle")}}Login via Google{{/bs-button}}
        </div>
      {{/if}}
    </div>
  </div>
</div>